header{

    width: 100%;
    padding: 7px;
    position:sticky;
    display:flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color: #b8dac2;
    z-index: 998;


    /* */
    .logoNombre{
        padding: 5px;
    img{
    
        width: 100px;
        height: auto;
    
    }
h1{
    margin:10px;
    display: inline-block;
    vertical-align: bottom;
    white-space: nowrap;
    border-right: 4px solid;
    font-family: monospace;
    font-size: 18px;
    width: 15ch;
    font-weight: 500;
    
    animation: typing 1s steps(15) ,
    blink 0.5s infinite step-end alternate;
    overflow: hidden;
    @keyframes typing {
        from {
        width: 0;
        }
        }
    @keyframes blink {
        50% {border-color: transparent;
        }
        } 
    }}

    nav {
        width: 600px;
    }
    .logoCarrito{
        padding: 10px;
        margin-right: 20px;
        margin-top: 20px;
        cursor: pointer;
        h3{
            font-size: 50px;
        }
    }
               /* menu check */
           #iconHamburguesa{
            color: white;
            position: fixed;
            height: 100%;
            display: none;
            opacity: 0;
            }
        #check{
            display: none;
            }

}

/* NavBars */
.menu {
    background-color: white;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    li {
        padding: 7px;
        position: relative;
        display: inline-block;
        a {
        color: rgb(34, 32, 32);
        font-size: 18px;
    }&:hover{
        transition: 0.2s;
        text-decoration: underline crimson 3px;
        text-transform: uppercase;
        font-weight: 500;
    }
    }
    .submenu {
        display: none;
        position: absolute;
        background-color: white;
        padding: 0px 25px;
        margin-top:10px;
      }
      
      .submenu.active {
        display: block;

      }
    
}