* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  /* Bootstrap*/
  padding-left: 0px;
}

.containerItems {
  width: 90%;
  margin: 60px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.containerItems .cards {
  background-color: #537c77;
  color: white;
  margin: 30px 20px;
  border-radius: 3px;
  text-align: center;
  padding: 10px;
}
.containerItems .cards .comprar {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #222121;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  border-color: rgba(22, 13, 1, 0.062);
  font-weight: 600;
}
.containerItems .cards .comprar:hover {
  transform: scale(1.3);
  transition: 0.8s;
  text-transform: uppercase;
}
.containerItems .cards .price {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.cantidad-carrito {
  background-color: #f12473;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  font-size: 20px;
  padding: 10px;
  top: 15px;
  right: 15px;
  position: absolute;
  display: none;
}

.total-content {
  font-size: 2.5rem;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 10px;
  background-color: rgba(255, 0, 85, 0.466);
  color: rgb(255, 255, 255);
}

.modalContainer {
  width: 80%;
  margin: 30px 50px;
  max-height: 88vh;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.8823529412);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: auto;
  z-index: 999;
  top: 90px;
}
.modalContainer img {
  width: 70px;
}
.modalContainer h3 {
  font-size: 25px;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #379b7d;
  color: aliceblue;
  width: 100%;
  padding: 10px;
}
.modal-header h1 {
  font-family: monospace;
}

.modal-header-button {
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1rem;
}

.delete-product, .sumar, .restar {
  cursor: pointer;
}

.irApagar {
  background-color: rgb(17, 12, 14);
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0.6rem;
  margin: 10px;
  margin-bottom: 50px;
}
.irApagar a {
  text-decoration: none;
  color: #ececec;
}

.usuario {
  height: 35px;
  width: 150px;
  border-bottom-left-radius: 15px;
  align-items: center;
  right: 0px;
  position: absolute;
  z-index: 1;
  background-color: rgba(184, 218, 194, 0.8823529412);
}
.usuario #nombreUsuario {
  font-family: monospace;
  font-size: 15px;
}

header {
  width: 100%;
  padding: 7px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: #b8dac2;
  z-index: 998;
  /* */
  /* menu check */
}
header .logoNombre {
  padding: 5px;
}
header .logoNombre img {
  width: 100px;
  height: auto;
}
header .logoNombre h1 {
  margin: 10px;
  display: inline-block;
  vertical-align: bottom;
  white-space: nowrap;
  border-right: 4px solid;
  font-family: monospace;
  font-size: 18px;
  width: 15ch;
  font-weight: 500;
  animation: typing 1s steps(15), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
header nav {
  width: 600px;
}
header .logoCarrito {
  padding: 10px;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
}
header .logoCarrito h3 {
  font-size: 50px;
}
header #iconHamburguesa {
  color: white;
  position: fixed;
  height: 100%;
  display: none;
  opacity: 0;
}
header #check {
  display: none;
}

/* NavBars */
.menu {
  background-color: white;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.menu li {
  padding: 7px;
  position: relative;
  display: inline-block;
}
.menu li a {
  color: rgb(34, 32, 32);
  font-size: 18px;
}
.menu li:hover {
  transition: 0.2s;
  -webkit-text-decoration: underline crimson 3px;
          text-decoration: underline crimson 3px;
  text-transform: uppercase;
  font-weight: 500;
}
.menu .submenu {
  display: none;
  position: absolute;
  background-color: white;
  padding: 0px 25px;
  margin-top: 10px;
}
.menu .submenu.active {
  display: block;
}

footer {
  background-color: rgb(48, 48, 48);
  padding: 50px;
  color: white;
  text-align: center;
}
footer p {
  font-size: 25px;
}

@media (max-width: 850px) {
  .containerItems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 7px;
    width: 90%;
    margin: 30px auto;
  }
  .containerItems .cards {
    margin: 30px 15px;
  }
  .containerItems .cards .comprar {
    margin-bottom: 5px;
    padding: 3px;
  }
  .containerItems .cards .comprar:hover {
    transform: scale(1.1);
    transition: 0.8s;
    text-transform: uppercase;
  }
  header {
    width: 100%;
    height: 150px;
    text-align: center;
    justify-content: space-around;
  }
  header .logoNombre h1 {
    display: none;
  }
  header .logoNombre img {
    width: 150px;
  }
  header #iconHamburguesa {
    display: flex;
    opacity: 1;
    top: 70px;
    font-size: 40px;
    cursor: pointer;
  }
  header .menu {
    display: block;
    position: fixed;
    width: 100%;
    height: 0px;
    padding: 10px;
    top: 150px;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.925);
    transition: all 0.5s;
  }
  header .menu li {
    text-align: start;
    margin: 30px;
    display: block;
    line-height: 20px;
    margin: 10px 0px;
    transition: all 0.5s;
    padding: 15px;
  }
  header #check:checked ~ .menu {
    opacity: 1;
    height: 80%;
    visibility: visible;
  }
  header .submenu {
    display: none;
  }
  .modalContainer img {
    width: 35px;
  }
  .modalContainer h3 {
    font-size: 18px;
  }
  .paginaDeContacto {
    padding: 15px;
  }
  .paginaDeContacto .contacto {
    font-size: 1.2rem;
    padding: 0px;
    width: 100%;
  }
  .paginaDeContacto .contacto h2 {
    font-size: 2rem;
  }
  .paginaDeContacto .contacto input {
    width: 45%;
    margin-bottom: 15px;
  }
  .paginaDeContacto .contacto textarea {
    width: 50%;
  }
}
.paginaDeContacto {
  background-image: url("/img/contacto.webp");
  margin: 50px auto;
  padding: 50px;
}

.contacto {
  margin: 80px auto;
  padding: 10px 50px;
  color: white;
  width: 65%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.185);
  border: 4px solid white;
  font-size: larger;
  font-family: monospace;
  border-radius: 5px;
  text-align: center;
}
.contacto h2 {
  font-weight: 600;
}
.contacto label {
  display: block;
}
.contacto input {
  margin-bottom: 10px;
  max-width: 100%;
}
.contacto input:focus {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.contacto textarea {
  max-width: 100%;
  margin-bottom: 20px;
}
.contacto textarea:focus {
  background-color: beige;
}

.medidas {
  font-size: larger;
  width: 100%;
  text-align: center;
  padding: 70px 0px;
  background-image: url("../img/fondoM.webp");
  font-weight: 500;
}
.medidas p {
  margin: 30px auto;
}
.medidas .tablas {
  background-color: rgba(255, 255, 255, 0.363);
  padding: 50px;
}
.medidas .tablas td {
  padding: 20px;
}
.medidas .tablas h2 {
  font-weight: 700;
}

.fondoP {
  background-image: url("../img/sobre2.webp");
  margin: 50px auto;
  padding: 70px 0px;
}
.fondoP .preguntas {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.534);
  font-family: monospace;
  font-size: 20px;
  padding: 10px;
}
.fondoP .preguntas h2 {
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgba(0, 0, 0, 0.932);
  text-decoration: underline;
}
.fondoP .preguntas .letras {
  font-size: 25px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.932);
}
.fondoP .preguntas i {
  margin-bottom: 30px;
}
.fondoP .preguntas .irA {
  background-color: rgb(228, 78, 153);
  color: black;
  border: 10px;
  padding: 5px;
}

.bg-light {
  padding: 40px;
}
.bg-light .checkoutLogo {
  color: rgb(15, 2, 2);
  text-align: center;
}
.bg-light .checkoutLogo a img {
  display: block;
  margin: 0 auto;
  width: 150px;
}
.bg-light h3 {
  margin: 50px;
}

.about {
  margin: 50px auto;
  background-image: url("../img/sobre1.webp");
  padding: 50px;
}
.about .aboutUs {
  text-align: center;
  font-size: large;
  background-color: rgba(0, 0, 0, 0.699);
  color: white;
  padding: 40px;
}

.checkoutMonto {
  text-align: center;
}
.checkoutMonto .listaCheckout .producto-checkout {
  display: inline-block;
  padding: 15px;
}/*# sourceMappingURL=main.css.map */